<!DOCTYPE html>
<html>
<head>
	<title>Home | To-Do App</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="../static/css/bulma.css">
</head>
<body>
	<div class="container is-fluid" id="stats">
		<div class="header">
			<section class="hero is-medium is-warning is-bold">
				<div class="hero-body">
					<div class="container">
						<p class="title">
							Welcome to iDabba Control Centre
						</p>
						<div id="app">
							<p class="subtitle">
								Click on Get Statistics to fetch the latest information from iDabba <br>
							</p>
						</div>
					</div>
				</div>
			</section>
		</div>

		<div class="controller container">
			<br>
			<p class="content is-large">
				Item kept in iDabba - ${ iname }
			</p>
			<p class="control">
				<button class="button is-info is-medium" v-on:click="itemname">Fetch Data</button>
			</p>
			<br>
		</div>

		<footer class="footer">
			<p>&copy; iDabba team</p>
			<br>
			<p>Viresh Gupta <br> Brihi Joshi <br> Zoha Hamid <br> Shravika Mittal</p>
		</footer>
	</div>
	<script src="../static/scripts/vue.js"></script>
	<script src="../static/scripts/vue-resource.min.js"></script>
	<script src="../static/scripts/script.js"> </script>

</body>
</html>